.capital
{
    color:red;
}
/* h2{

} */
/* only h2 elements with capital class */
h2.capital{ 
    background-color: beige;
}

/* only select elements that have both classes */
/* .capital.specific-capital
{
    background-color: beige;
} */